# Dependencies
node_modules
.pnp
.pnp.js

# Production Build
dist
dist-ssr
build
out

# Testing
coverage
*.lcov
.nyc_output

# Environment Variables (Strict Security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# IDEs and Editors
.idea
.vscode
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript / Framework / Cache
*.tsbuildinfo
.eslintcache
.npm
.cache

package-lock.json
